{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_template_tags %}
{% block body_block %}
    <div>
        <h3>存档文章</h3>
        {% if dates %}
        <ul>
            {% for dt in dates %}
            <h5>{{ dt.year }}年{{ dt.month }}月</h5>
                {% for post in posts %}
                    {% if post.created_time.year == dt.year and post.created_time.month == dt.month %}
                    <div class='archive-posts'>
                        {{ post.created_time }}
                        <h5>
                            <a href="{% url 'blog:post_detail' post.slug  %}" >{{ post.title }}</a>
                        </h5>
                    </div>
                    {% endif %}
                    <!--<br>-->
                {% endfor %}
                <!--<br>-->
            {% endfor %}
        </ul>
        {% else %}
          <strong>还没有发表文章哦~</strong>
        {% endif %}
    </div>
{% endblock %}
{% block tag %}
    {% show_current_tags %}
{% endblock %}
{% block category %}
    {% show_current_categories %}
{% endblock %}
