<!DOCTYPE html>
{% load staticfiles %}
{% load blog_template_tags %}

<html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
                                    initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static '/uploads/favicon.ico' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" charset="utf-8" href="{% static '/blog/css/custom.css' %}">
    <link rel="stylesheet" charset="utf-8" href="{% static '/blog/css/github.css' %}">
    <link rel="stylesheet" charset="utf-8" href="{% static '/blog/css/default.css' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static '/blog/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <title>
      Do It! -
      {% block title_block %}
        Welcome to my Blog!
      {% endblock %}
    </title>
  </head>
  <body>
    <!--<body bgcolor="#000000">-->
    <body style="background-image:url({% static '/uploads/background.png' %});">
    </body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'blog:index' %}">Do It!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'blog:index' %}">首页
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:category' %}">分类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:tag_list_show' %}">标签</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:archive' %}">存档</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'blog:about' %}">关于</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--<hr>-->
    <br />
    <div class="container">
        <div class="row">
            <div id="content-posts" class="col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-2 main">
              {% block body_block %}
              {% endblock %}
            </div>

            <div id='sidebar' class="col-sm-4 col-md-4 sidebar">
                <!-- Slogan -->
                <div class="card my-4">
                  <h5 class="card-header">Slogan</h5>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <ul class="list-unstyled mb-0">
                          <p>&nbsp;&nbsp;&nbsp;&nbsp;人生苦短, 我用Python</p>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <form action='{% url 'blog:index' %}' method='get' id='search-form'>
                                    {% if query %}
                                    <input class="form-control" type="text" value="{{ query }}" name="query" id="query" placeholder="Search for..."/>
                                    {% else %}
                                    <input type="text" class="form-control" name="query" placeholder="Search for...">
                                    {% endif %}
                        </form>
                        <!--<span class="input-group-btn">-->
                            <!--<button class="btn btn-secondary" type="button">Go!</button>-->
                        <!--</span>-->
                        </div>
                    </div>
                </div>

                <!-- Most Viewed -->
                <div class="card my-4">
                  <h5 class="card-header">Most Viewed</h5>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <ul class="list-unstyled mb-0">
                        {% block most_viewed_posts %}
                            {% most_viewed_posts %}
                        {% endblock %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Recent Posts -->
                <div class="card my-4">
                  <h5 class="card-header">Recent Posts</h5>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <ul class="list-unstyled mb-0">
                        {% block recent_posts %}
                            {% recent_posts %}
                        {% endblock %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                  <h5 class="card-header">Categories</h5>
                  <div class="card-body">
                    <div class="row">
                      {% block category %}
                      {% endblock %}
                    </div>
                  </div>
                </div>

                <!-- Tags Widget -->
                <div class="card my-4">
                  <h5 class="card-header">Tags</h5>
                  <div class="card-body">
                    <div class="row">
                      {% block tag %}
                      {% endblock %}
                    </div>
                  </div>
                </div>


            </div>
        </div>
    </div>

    <br>

    <br>

    <div id="footer">
        Copyright © 2018 chenomg - All Rights Reserved.
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static '/blog/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/blog/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>
