<!DOCTYPE html>
{% load staticfiles %}
{% load blog_template_tags %}

<html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
                                    initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static '/blog/images/favicon.ico' %}">

    <!-- css -->
    <link rel="stylesheet" charset="utf-8" href="{% static '/blog/css/custom.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>
      家住五楼 -
      {% block title_block %}
        Welcome to my home!
      {% endblock %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'blog:index' %}" class="navbar-brand">Hi, friend</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:index' %}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:category' %}">分类</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:tag_list_show' %}">标签</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:index' %}">存档</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'blog:about' %}">关于</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--<hr>-->
    <br />
    <div class="container-fluid">
        <div class="row">
            <div id="content-posts" class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
                {% block body_block %}
                {% endblock %}
            </div>
            <div id='sidebar' class="col-sm-3 col-md-3 sidebar">
                <ul>
                    <form>
                        <label>搜索</label>
                        <li>
                            <input class="search-query span10" type="text" value="" name="search" id="search" placeholder="search"/>
                        </li>
                    </form>
                    <li>
                        <h5>Slogan:</h5>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;人生苦短, 我用Python</p>
                    </li>
                    <br />
                    <li>
                        <h5>Most viewed:</h5>
                        {% block most_viewed_posts %}
                            {% most_viewed_posts %}
                        {% endblock %}
                    </li>
                    <br />
                    <li>
                        <h5>Recent Posts:</h5>
                        {% block recent_posts %}
                            {% recent_posts %}
                        {% endblock %}
                    </li>
                    <br />
                    <li>
                        <h5>Categoy:</h5>
                        {% block category %}
                        {% endblock %}
                    </li>
                    <br />
                    <li>
                        <h5>Tag:</h5>
                        {% block tag %}
                        {% endblock %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        Copyright © 2018 chenomg - All Rights Reserved.
    </div>
    <!--jQuery-->
    <!--<script src="{% static 'blog/js/jquery-3.3.1.min.js' %}"></script>-->
    <!--<script src="{% static 'blog/js/blog-ajax.js' %}"></script>-->
  </body>
</html>
