    <!--评论展示区-->
    <div id='comments-form-show'>
      <h3>Comments:</h3>
      {% if comments %}
        {% for comment in comments %}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{ comment.name }}</h5>
              {{ comment.content }}
            </div>
          </div>
        {% endfor %}
      {% else %}
          <strong>欢迎发表评论~~</strong>
      {% endif %}

      <!--发表评论-->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <!--<form>-->
          <!--<form action="{% url 'blog:post_detail' post.title_slug %}" method="post" id='comment_submit' accept-charset="utf-8">-->
          <form id='comment-submit' accept-charset="utf-8">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
              {{ form.name.errors }}
              <label for="{{ form.name.id_for_label }}">用户名：</label>
              {{ form.name }}
              {{ form.email.errors }}
              <label for="{{ form.email.id_for_label }}">&nbspE-mail：</label>
              {{ form.email }}
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              {{ form.content.errors }}
              <label for="{{ form.comment.id_for_label }}">内容：</label>
              <br>
              {{ form.content }}
            </div>
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
            <button post_title_slug='{{ post.title_slug }}' type='submit' id='comment-submit' class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
