{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_template_tags %}
{% block body_block %}
    {% if posts %}
    <!--Blog posts-->
        {% for post in posts %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">
                    <a href="{% url 'blog:post_detail' post.slug  %}" >{{ post.title }}</a>
                </h2>
                <hr>
                <div>
                    {{ post.publish_excerpt|safe }}
                </div>
                <a href="{% url 'blog:post_detail' post.slug  %}" class="btn btn-info">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                发布于: <time>{{ post.created_time|date:'M d, Y' }}</time>&nbsp by <a href="{% url 'blog:user_show' post.author %}">{{ post.author }}</a>
                <span>&nbsp- views:{{ post.views }}</span>
            </div>
        </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_previous %}
                    {% if query %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'blog:index' %}?query={{ query }}&page={{page_previous_id}}" tabindex="-1">上一页</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'blog:index' %}?page={{page_previous_id}}" tabindex="-1">上一页</a>
                    </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="{% url 'blog:index' %}?page={{page_previous_id}}" tabindex="-1">上一页</a>
                    </li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="">{{ page_current }}</a></li>
                {% if page_next %}
                    {% if query %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'blog:index' %}?query={{ query }}&page={{page_next_id}}">下一页</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'blog:index' %}?page={{page_next_id}}">下一页</a>
                    </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    {% else %}
        <strong>未发现文章</strong>
    {% endif %}

{% endblock %}
{% block tag %}
    {% show_current_tags %}
{% endblock %}
{% block category %}
    {% show_current_categories %}
{% endblock %}
