{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_template_tags %}
{% block body_block %}
    <div>
        {% if posts %}
        <ul>
            {% for post in posts %}
            <h5>
                <a href="{% url 'blog:post_detail' post.title_slug  %}" >{{ post.title }}</a>
            </h5>
            <div>
                <time>{{ post.created_time|date:'Y-m-d' }}</time>
                <span>views:{{ post.views }}</span>
                <span>likes:{{ post.likes }}</span>
            </div>
            <div>
                {{ post.excerpt|safe }}
            </div>
                <hr>
            {% endfor %}
            <div id='page_indicator'>
                {% if page_previous %}
                    {% if query %}
                    <a href="{% url 'blog:index' %}?query={{ query }}&page={{page_previous_id}}">上一页</a>
                    {% else %}
                    <a href="{% url 'blog:index' %}?page={{page_previous_id}}">上一页</a>
                    {% endif %}
                {% endif %}
                    第{{ page_current }}页
                {% if page_next %}
                    {% if query %}
                    <a href="{% url 'blog:index' %}?query={{ query }}&page={{page_next_id}}">下一页</a>
                    {% else %}
                        <a href="{% url 'blog:index' %}?page={{page_next_id}}">下一页</a>
                    {% endif %}
                {% endif %}
            </div>
        </ul>
        {% else %}
            <strong>There are no post present.</strong>
        {% endif %}
    </div>
{% endblock %}
{% block tag %}
    {% show_current_tags %}
{% endblock %}
{% block category %}
    {% show_current_categories %}
{% endblock %}
