{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_template_tags %}
{% block body_block %}
    <div>
        {% if post %}
          <h5>{{ post.title }}</h5>
          <p>{{ post.content }}</p>
        {% else %}
          There is no such post.
        {% endif %}
    </div>
    <form action="{% url 'blog:comment_submit' post.id %}" method="post" id='comment_submit' accept-charset="utf-8">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-md-12">
                {{ form.title.errors }}
                <label for="{{ form.title.id_for_label }}">标题：</label>
                {{ form.title }}
            </div>
            <div class="col-md-12">
                {{ form.content.errors }}
                <label for="{{ form.comment.id_for_label }}">内容：</label>
                {{ form.content }}
            </div>
            <div class="col-md-12">
                <input type="submit" value="提交评论" name="" id="comment_submit"/>
            </div>
        </div>    <!-- row -->
    </form>
    <br>
    <div id='comments_show'>
        <h3>评论:</h3>
        {% if comments %}
            {% for comment in comments %}
                <h7>标题:</h7>
                <h5>{{ comment.title }}</h5>
                <h7>评论内容:</h7>
                <p>{{ comment.content }}</p>
                <hr>
            {% endfor %}
        {% else %}
            <strong>There is no comment for this post.</strong>
        {% endif %}
    </div>
{% endblock %}
{% block tag %}
    {% show_current_tags is_detail post %}
{% endblock %}
{% block category %}
    {% show_current_categories is_detail post %}
{% endblock %}
