{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_template_tags %}


{% block body_block %}
<form id='register_profile_form' action="{% url 'blog:register_profile'  %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <h2>Profile Regsitration</h2>
        <div >
            <span>Username:</span>
            <input type="text" value="{{ user.username }}" name="username" id='username' readonly='value'/>
        </div>
        <div>
            <span>Date-joined:</span>
            <input type="text" value="{{ user.date_joined|date:'Y-m-d'}}" readonly='value'/>
        </div>
        {{ userform.as_p }}
        {% if userprofile %}
        <div>
            <span>Picture:</span>
            {% if userprofile.picture %}
            <img id='avator_show' src="/media/{{ userprofile.picture }}" alt="avator"/>
            {% else %}
            <span>无</span>
            {% endif %}
        </div>
        {% else %}
        <div>
            <span>Website:</span>
            <input type="text" value="" name="website"/>
        </div>
        <div>
            <span>Picture: </span>
        </div>
        {% endif %}
        <input type="file" name="avator" id="id_avator"/>
        <br>
        <br>
        <button class="btn btn-primary" type="submit" value="Submit">提交变更</button>
    </form>

{% endblock %}
{% block tag %}
    {% show_current_tags %}
{% endblock %}
{% block category %}
    {% show_current_categories %}
{% endblock %}
