{% if is_detail %}
  <li class='tag-show'>
      <a href="{% url 'blog:category' %}#{{ categories.name }}">{{ categories.name }}</a>
  </li>
{% else %}
  {% if categories %}
  <div class="col-lg-6">
    <ul class="list-unstyled mb-0">
      <ul>
        {% for cat in pre_half %}
        <li class='tag-show'>
          <a href="{% url 'blog:category' %}#{{ cat.name }}">{{ cat.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </ul>
  </div>
  <div class="col-lg-6">
    <ul class="list-unstyled mb-0">
      <ul>
        {% for cat in lst_half %}
        <li class='tag-show'>
          <a href="{% url 'blog:category' %}#{{ cat.name }}">{{ cat.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </ul>
  </div>
  {% else %}
  <div class="col-lg-6">
    <ul class="list-unstyled mb-0">
      <ul>
        <li>No category</li>
      </ul>
    </ul>
  </div>
  {% endif %}
{% endif %}
