{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_template_tags %}
{% block title_block %}
    Tag - {{ tag.name }}
{% endblock %}
{% block body_block %}
    <div>
        {% if tag %}
        <h3>Posts with tag: <strong>{{ tag.name }}</strong></h3>
            <ul>
                {% for post in posts %}
                    <h4><a href="{% url 'blog:post_detail' post.slug  %}" >{{ post.title }}</a></h4>
                    <p>{{ post.content|safe }}</p>
                {% endfor %}
            </ul>
        {% else %}
            There are no posts for tag: <strong>{{ tag_slug }}</strong>.
        {% endif %}
    </div>
{% endblock %}
{% block tag %}
    {% show_current_tags %}
{% endblock %}
{% block category %}
    {% show_current_categories %}
{% endblock %}
