{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_template_tags %}
{% block title_block %}
    用户信息 - {{ user.username }}
{% endblock %}
{% block body_block %}
    <div>
        <h2>User Profile:</h2>
        <div class='row'>
            <div class='col-lg-4 portfolio-item'>
            {% if userprofile %}
                {% if userprofile.picture %}
                <img id='avator_show' src="/media/{{ userprofile.picture }}" alt="avator"/>
                {% endif %}
            {% endif %}
            </div>
            <div class='col-lg-8 portfolio-item'>
                <div>
                    <span>Username: {{ user.username }}</span>
                </div>
                <div>
                    <span>Date-joined: {{ user.date_joined|date:'Y-m-d' }}</span>
                </div>
                {% if userprofile %}
                <div>
                    <span>Website: <a href="{{ userprofile.website }}" target="_blank">{{ userprofile.website }}</a></span>
                </div>
                {% else %}
                <div>
                    <span>Website: 无</span>
                </div>
                {% endif %}
                <br>
                {% if user.is_authenticated %}
                <a class='btn btn-primary' href="{% url 'blog:register_profile' %}" target="_self">变更</a>
                {% endif %}
            </div>
        </div>
    </div>

    <br>
    <br>

    <div>
        {% if user %}
        <h2>Posts posted by <strong>{{ user.username }}</strong> :</h2>
            <ul>
                {% for post in posts %}
                    <h4><a href="{% url 'blog:post_detail' post.slug  %}" >{{ post.title }}</a>

                    {% if user.is_authenticated %}
                    <a id='post_update' href="{% url 'blog:update_post' post.slug %}" target="_self">编辑</a>
                    {% endif %}
                    </h4>
                {% endfor %}
            </ul>
        {% else %}
            There are no posts posted by: <strong>{{ user.username }}</strong>.
        {% endif %}
    </div>
{% endblock %}
{% block tag %}
    {% show_current_tags %}
{% endblock %}
{% block category %}
    {% show_current_categories %}
{% endblock %}
