django==1.11.28
django-uuslug
pillow
markdown
django-mdeditor
pygments
django-registration-redux
django-google-analytics-app
django-debug-toolbar
djangorestframework
django-filter
django-xmlrpc
paramiko
