* {
  color:#34495e;
}
  
p{
  letter-spacing: 1px !important;
  line-height: 1.7 !important;
  min-height: 1em !important;
  box-sizing: border-box !important;
  word-wrap: break-word !important;
  text-align: justify;
  margin: 20px 0 !important;
}

blockquote {
    border-left: 4px solid #42b983;
    padding: 0 15px !important;
    margin: 0px;
}

strong {
    font-weight: bold;
    /*border-bottom: 2px solid #BADA55;*/
    /*color: #898989;*/
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  word-wrap: break-word;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }

h1,h2,h3,h4,h5,h6 {
    word-break: break-all !important;
    /*margin: 20px 0;*/
    /*padding-bottom: .2em;*/
    padding: 0;
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    color: #2c3e50;
    position: relative;
}

h1:before {
    /*content: "#";*/
    color: #42b983;
    position: absolute;
    left: -0.8em;
    top: -2px;
    font-size: 1.2em;
    font-weight: bold;
}

h2 > hr {
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
    border-bottom: 1px solid #ddd;
}

h1 {
    /*border-bottom: 8px solid #71BA51 !important;*/
    font-size: 30px !important;
}

h2 {
    /*border-bottom: 5px solid #71BA51 !important;*/
    font-size: 26px !important;
}

h3 {
    /*border-bottom: 5px solid #71BA51 !important;*/
    font-size: 23px !important;
}

h4 {
    /*border-bottom: 5px solid #71BA51 !important;*/
    font-size: 20px !important;
}


/*a {*/
  /*color: #42b983 !important;*/
  /*text-decoration: none !important;*/
/*}*/

ul, ol {
  padding-left: 40px;
}

li {
  line-height: 24px;
}

hr {
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
    border-bottom: 1px solid #ddd;
}

pre {
 background: #f2f2f2 !important;
 padding: 12px 13px;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #e96900;
    border-radius: 2px;
    white-space: inherit;
    background-color: #f8f8f8;
}
