body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
#content-posts {
  border-right: 1px solid;
}
#footer {
  text-align: center;
}
#page_indicator {
  text-align: center;
}
#categories {
  margin-left: -20px;
}
.categories-show li {
  list-style-type: none;
  display: inline-block;
}
ul {
  list-style-type: none;
  margin-left: -20px;
}
.archive-posts {
  margin-left: 30px;
}
#search-form {
  width: 100%;
}
#page_indicator {
  color: #0D123F;
}
.tag-show {
  list-style-type:  none;
}

:target{
  padding-top:64px;
