body {
  margin-top: 66px;
}
/*#toc {*/
  /*padding-top: 66px;*/
/*}*/
nav[data-toggle='toc'] {
  top: 66px;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}
#footer {
  text-align: center;
}
#categories {
  margin-left: -20px;
}
.categories-show li {
  list-style-type: none;
  display: inline-block;
}
ul {
  list-style-type: none;
  margin-left: -20px;
}
.archive-posts {
  margin-left: 30px;
}
#search-form {
  width: 100%;
}
#id_slogan {
  text-align: center;
  font-size: 20px;
  font-style: italic;
}
#a_slogan {
  color: #000000;
}
#avator_show {
  height: 150px;
  width: 150px;
}
#add_post_button {
  width: 20px;
}
:target{
  padding-top:64px;
}
#menu {
  font-size: 18px;
  font-style: italic;
}
#post_update {
  font-style: italic;
  font-size: 12px;
  color: #000000;
}
